<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
	</properties>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
	</settings>
	<typeAliases>
		<typeAlias alias="ArticleEntity" type="com.river.ms.cms.entity.ArticleEntity" />
		<typeAlias alias="CategoryEntity" type="com.river.ms.cms.entity.CategoryEntity" />
		<typeAlias alias="ContentEntity" type="com.river.ms.cms.entity.ContentEntity" />

	</typeAliases>
	<typeHandlers>
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
		<plugin interceptor="com.river.core.dao.MapInterceptor"></plugin>
		<!-- <plugin interceptor="com.river.core.dao.PageInterceptor">
			<property name="databaseType" value="mysql" />
		</plugin> -->
		
	</plugins>
	<mappers>
	</mappers>
</configuration>